<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=320 initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Play</title>
    <link rel="stylesheet" href="../css/play.css">
    <link rel="stylesheet" href="../iconfont.css">
    <link rel="stylesheet" href="../iconfont2/iconfont.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.0/css/swiper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.0/js/swiper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/play.js"></script>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
    }
    
    a {
        color: #000;
        text-decoration: none;
    }
    
    ul,
    li {
        list-style: none;
    }
</style>

<body>
    <div class="bg">
        <div class="title">
            <div class="back">
                <div class="left">
                    <i class="iconfont icon-youjiantou"></i>
                </div>
                <div class="right">
                    <div class="top">極惡都市</div>
                    <div class="bottom">夏日入侵企劃<i class="iconfont "></i></div>
                </div>
            </div>
            <div class="share">
                <i class="iconfont icon-fenxiang"></i>
            </div>
        </div>
        <div class="cd">
            <div class="img"></div>
        </div>
        <div class="comment">
            <ul>
                <li><i class="iconfont icon-xinaixin"></i></li>
                <li><i class="iconfont icon-xiazai"></i></li>
                <li><i class="iconfont icon-pinglun"></i></li>
                <li><i class="iconfont icon-gengduo"></i></li>
            </ul>
        </div>
        <div class="control">
            <div class="progress">
                <div class="start time">00:00</div>
                <div class="bar">
                    <div class="move">
                        <div class="ball"></div>
                    </div>
                </div>
                <div class="end time">00:00</div>
            </div>
            <ul>
                <li><i class="iconfont icon-fanhui"></i></li>
                <li><i class="iconfont icon-xiangzuo"></i></li>
                <li class="play"><i class="iconfont icon-pause"></i></li>
                <li><i class="iconfont icon-xiangzuo1"></i></li>
                <li><i class="iconfont icon-bofangliebiao"></i></li>
            </ul>
        </div>
        <div class="lyric">
            <div class="play_lyric">
            </div>
        </div>
    </div>

</body>
<script>
    document.documentElement.style.fontSize = 100 * (window.innerWidth / 320) + "px";
</script>

</html>